MONGO_URI=mongodb://127.0.0.1:27017/the_market_place
REDIS_URL=redis://127.0.0.1:6379
GOOGLE_MAPS_API_KEY=YOUR_GOOGLE_MAPS_SERVER_KEY
POLYLINE_CACHE_TTL=86400

# For wallet 3rd party integrations
MPESA_API_KEY=
MPESA_API_SECRET=
TWILIO_SID=
TWILIO_TOKEN=
EMAIL_SMTP_HOST=
EMAIL_SMTP_USER=
EMAIL_SMTP_PASS=
